*, *:before, *:after {
   position: relative;
   font: inherit;
   line-height: inherit;
   color: inherit;
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
}

*:focus {
   outline: 0;
}

html, body, div, h1, h2, p, label, canvas {
   display: block;
}

a, span, i, input, select, button {
   display: inline-block;
}

html, body {
   height: 100%;
}

body {
   font-family: lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-size: 16px;
   line-height: 26px;
   color: #383838;
   word-break: break-word;
   background: #F5F5F5;
}

div {
   width: initial;
   overflow: hidden;
}

h1, h2 {
   font-weight: bold;
   
}

h1 {
   font-size: 36px;
   line-height: 46px;
}

h2 {
   font-size: 30px;
   line-height: 40px;
}

p:first-letter {
   text-transform: uppercase;
}

a {
   text-decoration: none;
}

a:hover {
   text-decoration: underline;
}

input, select, button {
   width: 100%;
   padding: 14px 20px;
   border-radius: 4px;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
}

input, select {
   background: rgba(0, 0, 0, 0.075);
   border: 1px solid #DDDDDD;
}

input:focus, select:focus {
   background: rgba(0, 0, 0, 0.1);
}

input[type="range"] {
   -webkit-appearance: none;
   padding: 10px 0;
   background: transparent;
   border: none;
}

input[type="range"]::-webkit-slider-runnable-track {
   height: 6px;
   border-radius: 4px;
   -webkit-border-radius: 4px;
   background: rgba(0, 0, 0, 0.075);
}

input[type="range"]:focus::-webkit-slider-runnable-track {
   background: rgba(0, 0, 0, 0.1);
}

input[type="range"]::-moz-range-track {
   height: 6px;
   border-radius: 4px;
   -moz-border-radius: 4px;
   background: rgba(0, 0, 0, 0.075);
}

input[type="range"]:focus::-moz-range-track {
   background: rgba(0, 0, 0, 0.1);
}

input[type="range"]::-webkit-slider-thumb {
   -webkit-appearance: none;
   height: 20px;
   width: 20px;
   margin-top: -8px;
   background: #2E8ECE;
   border: none;
   border-radius: 100%;
   -webkit-border-radius: 100%;
   cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
   -webkit-appearance: none;
   height: 20px;
   width: 20px;
   margin-top: -8px;
   background: #2E8ECE;
   border: none;
   border-radius: 100%;
   -moz-border-radius: 100%;
   cursor: pointer;
}

button {
   cursor: pointer;
   font-weight: bold;
   text-align: center;
    
   border: none;
   text-overflow: ellipsis;
   white-space: nowrap;
   overflow: hidden;
}



/* reuseable classes */
.vertical-align {
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
}

.row {
   padding: 0;
   margin: 0;
}

.row,
.row:after {
   clear: both;
   zoom: 1;
}

.row:before,
.row:after {
   content: '';
   display: table;
}

.row > div {
   float: left;
}

.row > .col1 {
   width: 8.33%;
}

.row > .col2 {
   width: 16.66666%;
}

.row > .col3 {
   width: 24.99%;
}

.row > .col4 {
   width: 33.33%;
}

.row > .col5 {
   width: 33.33%;
}

.row > .col6 {
   width: 50%;
}

.row > .col7 {
   width: 58.333%;
}

.row > .col8 {
   width: 66.66666664%;
}

.row > .col9 {
   width: 74.999997%;
}

.row > .col10 {
   width: 83.33%;
}

.row > .col11 {
   width: 91.666663%;
}

.row > .col12 {
   width: 100%;
}

.container {
   width: 80%;
   max-width: 1200px;
   margin: 0 auto;
}



/* header styles */
#header {
   padding: 20px 0;
}

#header > div > div:nth-of-type(1) > a > img {
   max-width: 180px;
   max-height: 40px;
   padding: 10px 0;
}

#header > div > div:nth-of-type(2) > div {
   float: right;
}

#header > div > div:nth-of-type(2) > div > a {
   float: left;
   font-weight: bold;
   text-decoration: none;
   font-size: 14px;
   line-height: 24px;
   padding: 8px 16px;
   margin: 0 10px;
   border: 2px solid;
   border-radius: 4px;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
}

#header > div > div:nth-of-type(2) > div > a:last-of-type {
   margin-right: 0;
}

#header > div > div:nth-of-type(2) > div > a:nth-of-type(1) {
   color: #23589A;
   border-color: #23589A;
}

#header > div > div:nth-of-type(2) > div > a:nth-of-type(1):hover {
   color: #FFFFFF;
   background: #23589A;
}

#header > div > div:nth-of-type(2) > div > a:nth-of-type(2) {
   color: #2C70C3;
   border-color: #2C70C3;
}

#header > div > div:nth-of-type(2) > div > a:nth-of-type(2):hover {
   color: #FFFFFF;
   background: #2C70C3;
}



/* hero styles */
#hero {
   padding: 100px 0;
   color: #FFFFFF;
   background-color: #2e42ce!important;
    background: url(/assets/img/bg.png) center center;
    --bs-bg-opacity: 1;
}



#hero > div > div:nth-of-type(1) > p {
   font-size: 18px;
   line-height: 28px;
   opacity: 0.8;
   margin: 10px 0 0 0;
}



/* main styles */
#main > div {
   padding: 50px 0;
   border-bottom: 1px solid #DDDDDD;
}

#main > div:last-of-type {
   border-bottom: none;
}



/* sort option styles */
#main > #sort-options > div > div > i {
   display: block;
   font-size: 20px;
   line-height: 30px;
   text-align: center;
   cursor: pointer;
}

#main > #sort-options > div > div > i:hover {
   color: #1E88E5;
}



/* icon list styles */
#main > #icon-list > div {
   left: -1%;
   right: -1%;
}

#main > #icon-list > div > div {
   padding: 1%;
}

#main > #icon-list > div > div > a {
   width: 100%;
   padding: 50% 0;
   color: #FFFFFF;
   text-decoration: none;
   overflow: hidden;
   border-radius: 8px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
}

#main > #icon-list > div > div:nth-of-type(9n+1) > a {
   background: #E53935;
}

#main > #icon-list > div > div:nth-of-type(9n+2) > a {
   background: #1E88E5;
}

#main > #icon-list > div > div:nth-of-type(9n+3) > a {
   background: #43A047;
}

#main > #icon-list > div > div:nth-of-type(9n+4) > a {
   background: #D81B60;
}

#main > #icon-list > div > div:nth-of-type(9n+5) > a {
   background: #3949AB;
}

#main > #icon-list > div > div:nth-of-type(9n+6) > a {
   background: #8E24AA;
}

#main > #icon-list > div > div:nth-of-type(9n+7) > a {
   background: #F4511E;
}

#main > #icon-list > div > div:nth-of-type(9n+8) > a {
   background: #546E7A;
}

#main > #icon-list > div > div:nth-of-type(9n+9) > a {
   background: #FDD835;
}

#main > #icon-list > div > div > a > span,
#main > #icon-list > div > div > a > i,
#main > #icon-list > div > div > a > i:after {
   position: absolute;
   display: block;
   width: 100%;
   height: inherit;
   line-height: 110%;
   text-align: center;
}

#main > #icon-list > div > div > a > span {
   top: 0;
   left: 0;
   padding: 5%;
   font-size: 12.5px;
   font-size: 1vw;
   font-weight: bold;
   text-overflow: ellipsis;
   white-space: nowrap;
   overflow: hidden;
}

#main > #icon-list > div > div > a > i {
   top: 50%;
   left: 0;
   font-size: 50px;
   font-size: 4vw;
   transform: translateY(-50%);
   -webkit-transform: translateY(-50%);
   -moz-transform: translateY(-50%);
}

#main > #icon-list > div > div:hover > a > i {
   font-size: 62.5px;
   font-size: 5vw;
}

#main > #icon-list > div > div > a > i:after {
   top: 0;
   left: 0;
   content: attr(data-icon);
   color: transparent;
   opacity: 0.25;
   z-index: -1;
   text-shadow:
   1px 1px 0px #000000,
   2px 2px 0px #000000,
   3px 3px 0px #000000,
   4px 4px 0px #000000,
   5px 5px 0px #000000,
   6px 6px 0px #000000,
   7px 7px 0px #000000,
   8px 8px 0px #000000,
   9px 9px 0px #000000,
   10px 10px 0px #000000,
   11px 11px 0px #000000,
   12px 12px 0px #000000,
   13px 13px 0px #000000,
   14px 14px 0px #000000,
   15px 15px 0px #000000,
   16px 16px 0px #000000,
   17px 17px 0px #000000,
   18px 18px 0px #000000,
   19px 19px 0px #000000,
   20px 20px 0px #000000,
   21px 21px 0px #000000,
   22px 22px 0px #000000,
   23px 23px 0px #000000,
   24px 24px 0px #000000,
   25px 25px 0px #000000,
   26px 26px 0px #000000,
   27px 27px 0px #000000,
   28px 28px 0px #000000,
   29px 29px 0px #000000,
   30px 30px 0px #000000,
   31px 31px 0px #000000,
   32px 32px 0px #000000,
   33px 33px 0px #000000,
   34px 34px 0px #000000,
   35px 35px 0px #000000,
   36px 36px 0px #000000,
   37px 37px 0px #000000,
   38px 38px 0px #000000,
   39px 39px 0px #000000,
   40px 40px 0px #000000,
   41px 41px 0px #000000,
   42px 42px 0px #000000,
   43px 43px 0px #000000,
   44px 44px 0px #000000,
   45px 45px 0px #000000,
   46px 46px 0px #000000,
   47px 47px 0px #000000,
   48px 48px 0px #000000,
   49px 49px 0px #000000,
   50px 50px 0px #000000,
   51px 51px 0px #000000,
   52px 52px 0px #000000,
   53px 53px 0px #000000,
   54px 54px 0px #000000,
   55px 55px 0px #000000,
   56px 56px 0px #000000,
   57px 57px 0px #000000,
   58px 58px 0px #000000,
   59px 59px 0px #000000,
   60px 60px 0px #000000,
   61px 61px 0px #000000,
   62px 62px 0px #000000,
   63px 63px 0px #000000,
   64px 64px 0px #000000,
   65px 65px 0px #000000,
   66px 66px 0px #000000,
   67px 67px 0px #000000,
   68px 68px 0px #000000,
   69px 69px 0px #000000,
   70px 70px 0px #000000,
   71px 71px 0px #000000,
   72px 72px 0px #000000,
   73px 73px 0px #000000,
   74px 74px 0px #000000,
   75px 75px 0px #000000,
   76px 76px 0px #000000,
   77px 77px 0px #000000,
   78px 78px 0px #000000,
   79px 79px 0px #000000,
   80px 80px 0px #000000,
   81px 81px 0px #000000,
   82px 82px 0px #000000,
   83px 83px 0px #000000,
   84px 84px 0px #000000,
   85px 85px 0px #000000,
   86px 86px 0px #000000,
   87px 87px 0px #000000,
   88px 88px 0px #000000,
   89px 89px 0px #000000,
   90px 90px 0px #000000,
   91px 91px 0px #000000,
   92px 92px 0px #000000,
   93px 93px 0px #000000,
   94px 94px 0px #000000,
   95px 95px 0px #000000,
   96px 96px 0px #000000,
   97px 97px 0px #000000,
   98px 98px 0px #000000,
   99px 99px 0px #000000,
   100px 100px 0px #000000;
}



/* icon form styles */
#main > #icon-form > div {
   left: -1%;
   right: -1%;
}

#main > #icon-form > div > div {
   padding: 0 1%;
}

#main > #icon-form > div > div:nth-of-type(1) > div {
   width: 100%;
   padding: 50% 0;
   background-color: #333333;
   background-repeat: repeat;
   background-image: url('../img/canvas.png');
   overflow: hidden;
   border-radius: 4px;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
}

#main > #icon-form > div > div:nth-of-type(1) > div > canvas {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 60%;
   max-width: 500px;
   border: 2px dashed rgba(255, 255, 255, 0.5);
   background: rgba(255, 255, 255, 0.1);
   transform: translate(-50%, -50%);
   -webkit-transform: translate(-50%, -50%);
   -moz-transform: translate(-50%, -50%);
}

#main > #icon-form > div > div:nth-of-type(2) > div {
   width: 100%;
   margin: 10px 0;
   border-radius: 4px;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
}

#main > #icon-form > div > div:nth-of-type(2) > div:first-of-type {
   margin-top: 0;
}

#main > #icon-form > div > div:nth-of-type(2) > div:last-of-type {
   margin-bottom: 0;
   border-radius: 0;
   -webkit-border-radius: 0;
   -moz-border-radius: 0;
}

#main > #icon-form > div > div:nth-of-type(2) > div:last-of-type > button {
   width: 49%;
   float: left;
   background: transparent;
   border: 2px solid;
   color: #2E8ECE;
}

#main > #icon-form > div > div:nth-of-type(2) > div:last-of-type > button:nth-of-type(1) {
   margin-right: 1%;
}

#main > #icon-form > div > div:nth-of-type(2) > div:last-of-type > button:nth-of-type(2) {
   margin-left: 1%;
}

#main > #icon-form > div > div:nth-of-type(2) > div > span {
   display: block;
   padding: 14px 0;
   font-weight: bold;
   color: #FFFFFF;
   text-align: center;
    
   background: #2E8ECE;
   cursor: pointer;
}

#main > #icon-form > div > div:nth-of-type(2) > div > div {
   border: 1px solid #DDDDDD;
   border-top: none;
}

#main > #icon-form > div > div:nth-of-type(2) > div:not(.active) > div {
   display: none;
}

#main > #icon-form > div > div:nth-of-type(2) > div > div > div {
   margin: 20px;
}

#main > #icon-form > div > div:nth-of-type(2) > div > div > div:last-of-type {
   border-bottom: none;
}

#main > #icon-form > div > div:nth-of-type(2) > div > div > div > label {
   font-weight: bold;
   font-size: 14px;
   line-height: 24px;
   padding: 0 0 10px 0;
    
}

#main > #icon-form > div > div:nth-of-type(2) > div > div > div > label:after {
   content: ' ' attr(data-value);
   white-space: pre;
   display: inline-block;
   color: #43A047;
}



/* footer styles */
#footer {
   color: rgba(255, 255, 255, 0.4);
   background: #111111;
   border-top: 6px solid #2E8ECE;
}

#footer > div:nth-of-type(1) {
   padding: 60px 0;
}

#footer > div:nth-of-type(1) > div > div > span,
#footer > div:nth-of-type(1) > div > div > div > * {
   display: block;
}



#footer > div:nth-of-type(1) > div > div > span {
   font-weight: bold;
   font-size: 20px;
   line-height: 30px;
   color: #FFFFFF;
}

#footer > div:nth-of-type(1) > div > div > div > * {
   margin: 10px 0;
   float: left;
   clear: left;
}

#footer > div:nth-of-type(1) > div > div > div > *:first-child {
   margin-top: 20px;
}

#footer > div:nth-of-type(1) > div > div > div > *:last-child {
   margin-bottom: 0;
}

#footer > div:nth-of-type(1) > div > div > div > a > i {
   width: 25px;
}

#footer > div:nth-of-type(2) {
   padding: 20px 0;
   background: rgba(0, 0, 0, 0.1);
   border-top: 1px dashed rgba(255, 255, 255, 0.1);
}



/* responsive styles */
@media (max-width: 800px) {
   #header > div > div,
   #hero > div > div,
   #footer > div,
   #main > #sort-options > div > div,
   #main > #icon-list > div > div.col2 > a > span {
      display: none;
   }

   #header > div > div:first-of-type,
   #hero > div > div:first-of-type,
   #footer > div:first-of-type,
   #footer > div:first-of-type > div > div,
   #main > #sort-options > div > div:first-of-type,
   #main > #icon-form > div > div {
      display: block;
      width: 100%;
   }

   #header > div > div:first-of-type,
   #hero > div > div:first-of-type,
   #footer > div:first-of-type,
   #main > #icon-list > div > div.col12 {
      text-align: center;
   }

   #main > #icon-list > div > div.col2 {
      width: 33.333333333333336%;
   }

   #main > #icon-list > div > div > a > i {
      font-size: 100px;
      font-size: 8vw;
   }

   #main > #icon-list > div > div:hover > a > i {
      font-size: 125px;
      font-size: 10vw;
   }

   #footer > div:nth-of-type(1) {
      padding: 30px 0;
   }

   #footer > div:first-of-type > div > div {
      margin: 30px 0;
   }

   #footer > div:nth-of-type(1) > div > div > div > * {
      float: none;
      clear: none;
   }

   #main > #icon-form > div > div:nth-of-type(2) {
      margin-top: 50px;
   }
}

.back_to_top {
  position: fixed;
  bottom: 80px;
  right: 40px;
  z-index: 9999;
  width: 50px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  background: #2e42ce;
  color: #ffffff;
  cursor: pointer;
  border-radius: 2px;
  display: none;
  border-radius: 10px;
  justify-content: center;
    align-items: center;
}

.back_to_top:hover {
  background: #2E8ECE;
}

.back_to_top-show {
  display: flex;
}
